BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: 0
PointerAlignment: Left
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
IndentCaseLabels: true
SortIncludes: false
ReflowComments: false
BreakStringLiterals: false
MaxEmptyLinesToKeep: 1
EmptyLineBeforeAccessModifier: Always
